.nav-element:hover{
    color: rgb(241 245 249);
}

.btn-ia{
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out; 
}


.btn-ia:hover{
    color: rgb(241 245 249);
    box-shadow: inset  -120px 0 0 0  rgb(37 99 235);
}

.btn-not-ia{
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out; 
}

.btn-not-ia:hover{
    color: rgb(241 245 249);
    box-shadow: inset 120px 0 0 0 rgb(220 38 38);
}